/* src/styles/motion.css */
:root {
    /* Durations */
    --duration-fast: 200ms;
    --duration-medium: 400ms;
    --duration-slow: 600ms;

    /* Easings */
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
    --ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);

    /* Animation Props */
    --transition-base: all var(--duration-fast) var(--ease-out-expo);
    --reveal-distance: 20px;
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --duration-fast: 0s;
        --duration-medium: 0s;
        --duration-slow: 0s;
        --reveal-distance: 0px;
    }
}

.reveal-hidden {
    opacity: 0;
    transform: translateY(var(--reveal-distance));
    transition: opacity var(--duration-medium) var(--ease-out-expo),
        transform var(--duration-medium) var(--ease-out-expo);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
}