/* src/sections/Process/islands/ProcessVisualizer.css */
.ProcessVisualizer {
  position: relative;
  height: 400px;
  width: 8px;
  background-color: var(--color-bg-tertiary);
  border-radius: 999px;
  margin-inline: auto;
  overflow: hidden;
}

.ProcessVisualizer__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-accent);
}
